.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 90%;
  max-width: 1110px;
  margin: auto;
}

@media screen and (min-width: 992px) {
  .login-form-container {
    flex-direction: row;
    justify-content: space-around;
  }
}

.login-website-logo-mobile-img {
  width: 165px;
  margin-top: 50px;
  margin-bottom: 35px;
}

@media screen and (min-width: 992px) {
  .login-website-logo-mobile-img {
    display: none;
  }
}

.login-img {
  width: 278px;
}

@media screen and (min-width: 992px) {
  .login-img {
    width: 60%;
    max-width: 524px;
    flex-shrink: 1;
    margin-right: 20px;
  }
}

.login-website-logo-desktop-img {
  width: 185px;
}

@media screen and (max-width: 991px) {
  .login-website-logo-desktop-img {
    display: none;
  }
}

.login-register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 350px;
}

@media screen and (min-width: 992px) {
  .login-register-container {
    width: 350px;
    flex-shrink: 0;
    box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
    padding: 48px 28px 48px 28px;
  }
}


.login-register-tab{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 0px;
}

.login-tab{
  width: 300px;
  height: 45px;
  border-width: 0px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: black;
  font-family: 'Roboto';
  font-weight: bold;
  cursor: pointer;
}

.register-tab{
  width: 300px;
  height: 45px;
  border-width: 0px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: black;
  font-family: 'Roboto';
  font-weight: bold;
  cursor: pointer;
}

.under-score{
  border: 2px solid #0b69ff;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-radius: 5px;
}